{% extends "base.html" %}
{% block content %}
<ul>
    <li><h1 style="color:white;">{{username}}'s Gallery</h1></li>
    <li style="float:right;"><a href="{{url_for('sign_out')}}">Sign out</a></li>
    <li style="float:right;"><a href="{{url_for('photo_upload_landing')}}">Upload photo</a></li>
</ul>

<table style="table-layout:fixed; text-align:center;">
    <tr>
    {% for id, photo in photos %}
        <td align="center" valign="center">
            <a href="{{ url_for('render_light_box', id=id) }}">
                <img src="{{ url_for('static', filename=photo) }}">
            </a>
        </td>
        {% if loop.index%4 == 0 %}
        </tr>
        <tr>
        {% endif %}
    {% endfor %}</tr>
</table>
{% endblock %}