<!DOCTYPE html>

<html lang="en">

    <head>
		<meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/css/styling.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/css/bootstrap.min.css')}}">
		<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/js/bootstrap.min.js')}}">
    </head>

    <body class="fontstyle">
        <form method="post" action="authenticate_user" class="container"> <!-- Redirected to welcome.py-->
            <legend class="text-center case" style="margin-top:40px;"><h1>Login information</h1></legend>
			
            <div class="text-center forms container">
				<label class="fontsize">Username or email</label><br/>
				<input type="text" name="username" value="{{username if username!=None}}" class="textbox"/><br/><br/>

				<label class="fontsize">Password</label><br/>
				<input type="password" name="password" class="textbox"/><br/><br/>

				{% if error== True %}
					Wrong Username or password<br/><br>
				{% endif %}

				<label>Upload Image</label><br/>
				<input type="file" name="img" value="Upload" class="button"/><br/><br/>

				<a href="forgotpwd.html" style="color:black;">Forgot your password?</a>
				<input type="submit" class="button" value="Sign in"/><br/><br/>

				<label>New User?</label>
				<a href="new_user" style="color:black;"><b>Sign Up Now</b></a>
			</div>
        </form>


    </body>
	
</html>
