{% extends "base.html" %}
{% block content %}
<ul>
    <li><h1 style="color:white;">{{photos[0][0]}}'s lightbox</h1></li>
    <li style="float:right;"><a href="{{url_for('sign_out')}}">Sign out</a></li>
    <li style="float:right;"><a href="{{url_for('photo_upload_landing')}}">Upload photo</a></li>
    <li style="float:right;"><a href="{{url_for('render_gallery')}}">{{username}}'s Gallery</a></li>
</ul>

<table style="table-layout:fixed; text-align:center;">
    <tr>
    {% for type, photo in photos %}
        <td align="center" valign="center">
                {{type}}
                <img src="{{ url_for('static', filename=photo) }}", width="720">
        </td>
        {% if loop.index%2 == 0 %}
        </tr>
        <tr>
        {% endif %}
    {% endfor %}</tr>
</table>
{% endblock %}