<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp Page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/css/styling.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.1.3-dist/js/bootstrap.min.js')}}">
</head>

<body class="fontstyle">
    <form action="newuser" method="post" class="container">
    <legend class="text-center case" style="margin-top:40px;"><h1>Personal information</h1></legend>

            <div class="text-center forms container">
				<label class="fontsize">First Name</label><br/>
				<input type="text" name="firstname" class="textbox"/><br/><br/>
                <label class="fontsize">Last Name</label><br/>
				<input type="text" name="lastname" class="textbox"/><br/><br/>
                <label class="fontsize">Username</label><br/>
				<input type="text" name="uname" class="textbox"/><br/><br/>
                <label class="fontsize">Email</label><br/>
				<input type="text" name="email" class="textbox"/><br/><br/>
				<label class="fontsize">Password</label><br/>
				<input type="password" name="pswd" class="textbox"/><br/><br/>
                <label class="fontsize">Confirm Password</label><br/>
				<input type="password" name="cpswd" class="textbox"/><br/><br/>
				<input type="submit" class="button" value="Sign in"/><br/><br/>
			</div>
    </form>

</body>
</html>