{% extends "base.html" %}
	{% block content %}
        <ul>
			<li><a href="{{url_for('create_user_landing')}}">New User</a></li>
			<li style="float:right;"><a href="{{url_for('index')}}">Back</a></li>
		</ul>
        <form method="post" action="sign_out" class="container">  <!-- add action path-->
            <legend class="text-center case" style="margin-top:40px;"><h1>Welcome {{username}}!</h1></legend>
            <div class="text-center forms container">
                <input type="submit" value="Sign out" class="button"/><br>
            </div>
        </form>
        <br/><br/>
        <form method="post" enctype="multipart/form-data" action="photo_upload" class="container">
            <div class="text-center forms container">
                <input type="file" name="file" value="Choose Image" class="button"/>
                {% if up_error!=None %}
                    <span style="color:red;">{{ up_error }}</span>
                {% endif %}
                <input type="submit" name="upload"  value="Upload" class="button">
            </div>
        </form>
{% endblock %}