<!DOCTYPE html>
<html>
    <form method="post">
        <fieldset>
            <legend>Login information</legend>
            Username or email<br/>
            <input type="text" name="username" mathod="post" value={{username if username != None}}><br/>
            Password<br/>
            <input type="password" name="password" method="post" value={{password if password != None}}><br/>
            The entered Username or Password is wrong !  <br/><br>
            <a href="/forgotpwd">Forgot your password?</a>
            <input type="submit" value="Sign in">
        </fieldset>
    </form>
</html>